@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);


:root {
    --line_height: 60px;
    --white: #E8E8E8;
    --black: #131313;
    --blue: #1461F0;
    --grey: #2B2B2B;
    --fillet: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ek Mukta'; /* Helvetica */
    font-style: normal;
    font-weight: 400;
    background: var(--black);
    mix-blend-mode: normal;
}

.container {
    /* Frame 1 */
    /* position: relative; */
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40;
}

h1 {
    /* H1 */
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    /* identical to box height, or 98% */
    color: #FFFFFF;
}

.light h1 {
    color: #FFFFFF;
}

.dark h1 {
    color: #FFFFFF;
}

h2 {
    /* H2 */

    font-size: 25px;
    line-height: 60px;
    /* identical to box height, or 234% */
    letter-spacing: 0.08em;
    color: #FFFFFF;
}

.light h2 {
    color: #FFFFFF;
}

.dark h2 {
    color: #FFFFFF;
}

h3 {
    /* H3 */

    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 195% */
    color: #FFFFFF;
}

.light h3 {
    color: #FFFFFF;
}

.dark h3 {
    color: #FFFFFF;
}

p {
    /* p */
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */
    color: #FFFFFF;
}

.light p {
    color: #FFFFFF;
}

.dark p {
    color: #FFFFFF;
}

.button {
    background: #1461F0;
    border-radius: 40px;
    /* BT */

    font-size: 22px;
    line-height: 60px;
    /* identical to box height, or 266% */
    text-align: center;
    color: #E8E8E8;
}

/* Add a black background color to the top navigation */
.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #D9D9D9;
}

.navbarmenu {
    display: flex;
    list-style-type: none;
    float: right;
}

.navbaritem {
    display: inline;
    justify-content: center;
    align-content: center;
}

.navbarname {
    color: #131313;
    font-size: 22px;
    line-height: 60px;
    float: left;
    justify-content: center;
    align-content: center;
}

.links {
    display: block;
    padding-left: 50px;
    text-decoration: none;
    color: #131313;

    font-size: 22px;
    line-height: 60px;
}

.aboutMe {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.headshotBackground {
    display: flex;
    height: 500px;
    width: 60%;
    min-width: 500px;
    margin-top: 30px;
    position: relative;
    /* background-color: var(--black); */
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--fillet);
    align-items: center;
    justify-content: center;
}

.headshotImage {
    border-radius: 50%;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    border: 10px solid var(--white);
    box-shadow: 50px 0px var(--grey);
}