@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);

html {
    scroll-behavior: smooth
}

:root {
    --line_height: 60px;
    --white: #E8E8E8;
    --black: #131313;
    --blue: #1461F0;
    --grey: #2B2B2B;
    --offwhite: #D9D9D9;
    --SP1: 600px;
    --SP2: 500px;
    --SP3: 500px;
    --stowHeight: 0px;
    --extendHeight: 0px;
}

/*
Global Conventions:
 - Fillet: 10px
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ek Mukta';
    font-style: normal;
    font-weight: 400;
    background: var(--black);
    mix-blend-mode: normal;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40;
}

/* Headers/Text */

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: var(--white);
}

h2 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 400px;
    color: var(--white);
}

h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400px;
    color: var(--white);
}

h4 {
    font-size: 25px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.15em;
    color: var(--white);
}

p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: var(--white);
}

.light {
    color: var(--white);
}

.dark {
    color: var(--black);
}

/* Buttons */

button {
    background: var(--blue);
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 22px;
    line-height: 60px;
    text-align: center;
    color: var(--white);
    border: none;
    cursor: pointer;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\21D3';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button span2:after {
    content: '\21D1';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span2 {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

button:hover span2:after {
    opacity: 1;
    right: 0;
}

.contactMeButton {
    margin-top: 30px;
    margin-bottom: 50px;
}

.learnMoreButton {
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */

.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: var(--offwhite);
    opacity: 0.92;
    z-index: 1;
}

.navbarmenu {
    display: flex;
    list-style-type: none;
    float: right;
}

.navbaritem {
    display: inline;
    justify-content: center;
    align-content: center;
}

.navbarname {
    color: var(--black);
    font-size: 22px;
    line-height: 60px;
    float: left;
    justify-content: center;
    align-content: center;
}

/* Hyperlinks */

.links {
    display: block;
    padding-left: 50px;
    text-decoration: none;
    color: var(--black);
    font-size: 22px;
    line-height: 60px;
}

/* About Me */

.aboutMe {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.headshotBackground {
    display: flex;
    height: 500px;
    width: 60%;
    min-width: 500px;
    margin-top: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--fillet);
    align-items: center;
    justify-content: center;
}

.headshotImage {
    border-radius: 50%;
    z-index: -1;
    margin-top: 0;
    margin-bottom: 0;
    border: 10px solid var(--white);
    box-shadow: 50px 0px var(--grey);
}

.aboutMeBlurb {
    padding-top: 30px;
    text-align: center;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

/* Side Projects */

.sp_first_container {
    padding-top: 30px;
    color: var(--white);
    width: 100%;
    min-height: 600px;
    background-color: var(--white);
    transition: all 1s;
}

.sp_light_container {
    padding-top: 30px;
    color: var(--white);
    width: 100%;
    min-height: 500px;
    background-color: var(--white);
    transition: all 1s;
}

.sp_dark_container {
    padding-top: 30px;
    color: --var(--black);
    width: 100%;
    min-height: 500px;
    background-color: var(--black);
    transition: all 1s;
}

.portfolio {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sideProjectContent {
    max-width: 1066px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}

/* Left SP */
.sideProjectTextL {
    float: left;
    display: flex;
    flex-direction: column;
    max-width: 533px;
}

.sideProjectOverviewL {
    text-align: left;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--black);
}

.sideProjectTitleL {
    text-align: left;
    position: relative;
}

.sideProjectSubtitleL {
    text-align: left;
    position: relative;
}

/* Right SP */
.sideProjectTextR {
    float: right;
    display: flex;
    flex-direction: column;
    max-width: 533px;
}

.sideProjectOverviewR {
    text-align: right;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white);
}

.sideProjectTitleR {
    text-align: right;
    position: relative;
}

.sideProjectSubtitleR {
    text-align: right;
    position: relative;
}

.sideProjectImageRight {
    position: absolute;
    left: 50%;
    max-width: 533px;
    border-radius: 10px;
}

.sideProjectImageLeft {
    position: absolute;
    right: 50%;
    max-width: 533px;
    border-radius: 10px;
}

/* Contact Me */

.contactMe {
    padding-top: 30px;
    color: var(--black);
    width: 100%;
    max-height: 300px;
    min-height: 280px;
    background-color: var(--black);
}

.email {
    display: inline-block;
    text-decoration: none;
    color: var(--blue);
    font-size: 20px;
    line-height: 60px;
}

.iconButton {
    text-align: center;
    color: var(--white);
}

.iconButton:hover {
    color: var(--blue);
}

/* Animations */

.hiddenR {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.hiddenL {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hideOpacity {
    filter: blur(1);
    opacity: 0;
    transition: all 1s;
}

.showOpacity{
    filter: blur(0);
    opacity: 1;
    transition-delay: 1.5s;
    transform: scale(1);
}

.hiddenHeaderArrow {
    filter: blur(1);
    opacity: 0.1;
    transition: all 1s;
    transform: rotate(90deg);
}

.showHeaderArrow {
    filter: blur(0);
    opacity: 1;
    transform: rotate(0);
}

.hiddenHeaderText {
    opacity: 0;
    transition: all 1s;
}

.showHeaderText {
    opacity: 1;
    transition-delay: 1s;
    display: inline-block;
    vertical-align: middle;
}

@media(prefers-reduced-motion) {
    .hiddenL {
        transition: none;
    }

    .hiddenR {
        transition: none;
    }

    .contactMeHide {
        transition: none;
    }

    .hiddenHeader {
        transition: none;
    }
}